

body {
    background-image: url("https://images.pexels.com/photos/2908984/pexels-photo-2908984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.navbar-custom {
    border: 1px solid white; /* Thinner border */
    border-radius: 8px; /* Rounded corners */
    background-color: rgba(128, 128, 128, 0.5); /* Keeps the background transparent */
}

.custom-section {
    background-color: rgba(128, 128, 128, 0.5); /* Semi-transparent gray */
    padding-bottom: 50px;
}

.custom-section-darker {
    background-color: rgba(128, 128, 128, 0.7);
    padding-bottom: 50px;
}

.raleway-normal {
              font-family: "Raleway", sans-serif;
              font-optical-sizing: auto;
              font-weight: 200;
              font-style: normal;
              font-color: white;
          }

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-color: white;
}

.gradient-icon {
    background: linear-gradient(45deg, gold, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star {
    transition: color 0.3s, transform 0.3s;
}

/* Change to solid on hover */
.form-check-label:hover .star {
    font-family: "Font Awesome 6 Free"; /* Ensure it's using Font Awesome solid icons */
    font-weight: 900; /* This makes it solid */
    color: gold; /* Change to your desired color */
    transform: scale(1.1); /* Optional: slightly increase the size */
}

/* Keep the stars filled after selection */
.form-check-input:checked ~ .form-check-label .star {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    color: gold;
    transform: scale(1.1);
}